<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal darken-2 ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="logo navbar-brand" href="#"><strong>SmartBrains</strong></a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link">Quienes Somos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Que hacemos</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Fujo de Trabajo</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Contacto</a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">
          <mdb-icon fab icon="facebook-f"></mdb-icon>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">
          <mdb-icon fab icon="instagram"></mdb-icon>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!-- Main -->
<main>
  <div class="layoutcplip">
    <div class="clipper blue-grey lighten-4"></div>
  </div>
  <div class="container-fluid">
    <div class="row pt-5">
      <div class="col">
        <div class="layer">
        </div>
        <div class="images">
        </div>
      </div>
      <div class="col text-center">
        <h2>SmartBrains</h2>
        <h5>Software Factory and Data Analitycs</h5>
      </div>
      <div class="col">
        <div class="layer">
          <img class="svg-chart" src="../../assets/svg/graph.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col">
        <div class="layer">
          <img class="svg-brain" src="../../assets/svg/brain.svg" alt="">
        </div>
      </div>
      <div class="col">
        <br>
        <br>
        <h3>Buscamos soluciones sencillas</h3>
        <h6>Desarrollamos aplicaicones segun los requerimientos de la idea</h6>

    </div>
    </div>
  </div>
</main>
<!-- /.Main -->