<header class=""  id="myDIV">
    <div class="relative-position">
        <div class="background z-depth-2">
            <div class="obj1">
                <img id="img1" src="https://www.sccpre.cat/mypng/full/330-3308497_geometric-pattern-dog-animal-animalface-dibujo-grfico-con.png" width="0%"  alt="">
            </div>
        </div>
    </div>
    <div class="stylish-color-dark pattern">
        <div class="z-depth-5">
            <div class="container page-position" >
                <div class="row">
                    <div class="col-md-4 topm  ">
                        <div class="grey lighten-5 card ">
                            <div class="ca ca-bod">
                                <div class="row padding-20">
                                        <img class="img-fluid z-depth-1-half" src="../../assets/images/pedro.jpeg" alt="">
                                        <div class="text-center padding-20">
                                            <h4>Pedro B. Silva B.</h4>
                                            <h6>Software Engineer | pbsilvab@gmail.com</h6>
                                            <a class="social-icons" target="blank" href="http://instagram.com/pbsilvab"><i class="fab fa-instagram fa-2x"></i> </a>
                                            <a class="social-icons" target="blank" href="https://twitter.com/pbsilvab"><i class="fab fa-twitter fa-2x"></i> </a>
                                            <a class="social-icons" target="blank" href="https://github.com/pbsilvab"><i class="fab fa-github fa-2x"></i> </a>
                                            <a class="social-icons" target="blank" href="https://www.youtube.com/channel/UCYnX7ESGaTYwhGBhJgRnxyA?view_as=subscriber"><i class="fab fa-youtube fa-2x"></i> </a>
                                            <a class="social-icons" target="blank" href="https://www.linkedin.com/in/pbsilvab"><i class="fab fa-linkedin fa-2x"></i> </a>
                                            <hr/>
                                            <h6>Localidad Actual: Buenos Aires, Argentina</h6> 
                                            <h6>Nacionalidad: Venezolano</h6> 
                                            <h6>Fecha de nacimiento: 17 de Junio 1994</h6> 
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 topm  ">
                        <div class="grey lighten-5 card ">
                            <div class="ca ca-bod">
                                <div class="padding-20">
                                    <br/>   
                                    <h4 class="text-center" >Descripción Personal</h4>
                                    <h6 class="text-justify">Desarrollo aplicaciones web basadas en nuevas tendencias y avances tecnológicos buscando así brindar calidad a los clientes que adquieran mis servicios, en total, son 4 años de experiencia en mi desarrollo como profesional en el que he podido conocer muchas personas y adaptarme a diferentes equipos de trabajo.</h6>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 topm  ">
                                        <div class="padding-20">
                                            <h4>Estudios</h4>
                                            <p><strong>(2001-2011)</strong> Primaria, Secundaria, Bachillerato Unidad Educativa Colegio “Divina Pastora”. Ciudad Bolívar, Venezuela</p>
                                            <p><strong>(2012-2016)</strong> Universidad Nororiental Gran Mariscal de Ayacucho. Ciudad Bolívar, Venezuela. Carrera: Ingeniería de sistemas </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 topm  ">
                                        <div class="padding-20">
                                            <h4>Experiencia Laboral</h4>
                                            <p><strong>Abril 2015</strong> Programador FullStack <small>Gobernación del Estado Bolívar, Dirección de informática y sistemas. (Puerto Ordaz, Venezuela.)</small> </p>
                                            <p><strong>Abril 2017 - Julio 2018</strong> Lider de Desarrollo Web <small>Pinttosoft C.A, Software Factory (Puerto Ordaz, Venezuela.) </small> </p>
                                            <p><strong>Septiembre 2018 - Abril 2019</strong> Desarrollador Web<small> Ema Servicios S.A (Buenos Aires, Argentina.) </small> </p>
                                            <p><strong>Abril 2019 - Actual </strong> Desarrollador Web  <small> EcomExperts S.A (Buenos Aires, Argentina.) </small> </p>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>   
                            <br/>   

                        </div>
                    </div>
                </div>
            </div>
            <div class="container page-position wow fadeIn" data-wow-duration="2s" data-wow-delay="5s">
                <div class="row">
                    <div class="col-md-4 topm  ">
                        <div class="grey lighten-5 card">
                            <br/>   
                            <div class="ca ca-bod frameworks">
                                <div class="padding-20">
                                    <h4 class="text-center">
                                        Lenguajes 
                                    </h4>
                                    <div class="row text-center">
                                        <div class="col-md-6 topm  ">
                                            <i class="fab fa-php  fa-2x"></i>
                                            <p> PHP</p>
                                        </div>
                                        <div class="col-md-6 topm  ">
                                            <i class="fab fa-js  fa-2x"></i>
                                            <p>JAVASCRIPT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 topm  ">
                        <div class="grey lighten-5 card">
                            <br/>   
                            <div class="ca ca-bod frameworks">
                                <div class="padding-20">  
                                    <h4 class="text-center">
                                        Frameworks 
                                    </h4>
                                    <div class="row text-center">
                                        <div class="col-md-3 topm  ">
                                            <i class="fab fa-laravel fa-2x"></i>
                                            <p>
                                                LARAVEL
                                            </p>
                                        </div>
                                        <div class="col-md-3 topm  ">
                                            <i class="fab fa-angular fa-2x"></i>
                                            <p>
                                                ANGULAR
                                            </p>
                                        </div>
                                        <div class="col-md-3 topm  ">
                                            <i class="fab fa-vuejs  fa-2x"></i>
                                            <p>
                                                VUEJS
                                            </p>
                                        </div>
                                        <div class="col-md-3 topm  ">
                                            <i class="fas fa-mobile  fa-2x"></i>
                                            <p>
                                                IONIC
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>              
            </div>
            <div class="container page-position">
                <div class="row">
                    <div class="col-md-12 topm">
                        <div class="grey lighten-5 card">
                            <div class="ca ca-bod frameworks">
                                <br/>   
                                <div class="padding-20">
                                    <h4 class="text-center">
                                        Poyectos a Desarrollar
                                    </h4>
                                    <div class="row text-center">
                                        <div class="col-md-4 topm  ">
                                            <i class="fas fa-brain fa-2x"></i>
                                            <p>SmartBrains</p>
                                        </div>
                                        <div class="col-md-4 topm  ">
                                            <i class="fas fa-comment-dollar fa-2x"></i>
                                            <p>LATAM Billetera</p>
                                        </div>
                                        <div class="col-md-4 topm  ">
                                            <i class="fas fa-crown fa-2x"></i>
                                             <p>Reto B.A.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
            <div class="container page-position">
                <div class="row">
                    <div class="col-md-12 topm">
                        <div class="grey lighten-5 card">
                            <div class="ca ca-bod frameworks">
                                <br/>   
                                <div class="padding-20 text-center">
                                   
                                    <a class="rates-icons" (click)="makeVote('negative')" >
                                        <i class="fas fa-angry fa-2x"></i>
                                        <small> Dislikes {{stats.dislikes}}</small>
                                    </a>
                                    <a class="rates-icons" (click)="makeVote('regular')">
                                        <i class="fas fa-meh-rolling-eyes fa-2x"></i>
                                        <small>x's {{stats.normal}}</small>
                                    </a>
                                    <a class="rates-icons" (click)="makeVote('positive')">
                                        <i class="fas fa-grin-stars fa-2x"></i>
                                        <small>Likes {{stats.likes}}</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</header>