
html{
    scroll-behavior: smooth;
}
.background{
    background-color: #00695c;
    height: 10vh;
    position: fixed;
    left: 0;
    right: 0;
    scroll-behavior: smooth;

    &:on scroll-behavior{
        height: 100vh;
    }
}
.pattern{
    background-image: url('../../assets/images/nueva.png');
    background-position: center center;

}
.relative-position{
    position: relative;
}
.relative-position-uno{
    position: relative;
    z-index: -1;
}
.page-position{
    padding-top: 35px;
}
.ca{
    z-index: 3;
    margin-top: -1rem;
    border-radius: .25rem;  
}
.ca-bod{    
    /* padding-top: 1.5rem;
    padding-bottom: 1.5rem;*/
    -webkit-border-radius: 0!important;
    border-radius: 0!important;
}
.card.card-cascade.wider .view.view-cascade {
    z-index: 2;
}
.card.card-cascade .view.view-cascade {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    border-radius: .25rem;
}
.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}
.padding-20{
    padding: 20px;
}
.social-icons{
    padding: 10px;
    text-decoration:none;
    color: black;
}
.rates-icons{
    padding: 10px;
    text-decoration:none;
    display: inline-block;

    
    i{
        color: #adadad;
        display: block;

    }
    small{
        display: block;
    }
}
.topm{
    margin-top: 15px;
}

.fa-laravel{
    color:#F05340;
}
.fa-angular{
    color:#C43330;
}
.fa-vuejs{
    color:#41B882;
}
.fa-mobile{
    color:#277CFA;
}
.fa-js{
    color:#dabf16;
}
.fa-php{
    color:#7e83b9;
}

.fa-instagram{
    color:#8a3ab9;
}
.fa-twitter{
    color:#00aced;
}
.fa-github{
    color:#000;
}
.fa-youtube{
    color:#FF0000;
}
.fa-linkedin{
    color:#4875B4;
}

.obj1{
    position: absolute;
    top: 200px;
    left: 50px;
    -webkit-filter:blur(3px);
    
}